.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  margin-right: -300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-error {
  color: red;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1976d2;
}
